*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

*.log
*.pot
db.sqlite3
*.sqlite3
*.log

*/migrations/*.py
*/migrations/__init__.py

.env

#poetry.lock
*.venv/

.vscode/
.idea/

.DS_Store
Thumbs.db
ehthumbs.db

.cache

# mypy
.mypy_cache/
.dmypy.json
.pyre/
